/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner,
.ctaBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroContainer {
  max-width: 825px;
  padding-block: 120px;
  margin-inline: auto;
}

.ctaContainer {
  max-width: 596px;
  padding-block: 164px;
  margin-inline: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner,
  .ctaBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
