.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline: 148px;
  padding-block-start: 72px;
  padding-block-end: 200px;
  width: 100%;
}

.featureItem {
  max-width: 300px;
}